*{
  font-family: 'W95FA', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display:flex;
  flex-direction:row;
   min-width: 100vw;
  min-height: 100vh;
}

.sidebox{
  width: 190px;
  border: 3px solid rgb(145, 145, 145);
  background-color: rgb(161, 161, 161);
  margin-top: 45px;
  text-align: center;
  font-size: 20px;
  font-weight:bolder;
  color:rgb(228, 228, 228);
  line-height: 3;
  text-shadow: 2px 2px 0px rgb(36, 36, 36);
}

.sec-container{
  flex: 1;
  background-color: rgb(222, 222, 222);
  display: flex;
  flex-direction : column;
}
header{
  width:auto;
  left:0;
  right:0;
  height:45px;
  font-size: 18px;
  font-weight : bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 0px rgb(14, 75, 14);
  
}

header{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(66, 147, 110);
  box-shadow: 0px 2px 10px rgb(80, 80, 80);
  border-bottom: 3px solid rgb(211, 211, 211);
  border-right: 3px solid rgb(129, 129, 129);
  border-top: 3px solid darkslategray;
  border-left: 3px solid darkslategray;
  letter-spacing: 2px;
}

section{
  overflow-y: auto;
  flex:1;
  margin-top: 46px;
  flex-direction: column;
  margin-bottom: 98px;
  display: flex;
  gap: 10px;
  border: 3px solid;
}

.message-user{
  border: 3px solid rgb(154, 154, 154);
  width: 100%;
}

.message-user p{
  border: 2px solid rgb(0, 0, 0);
  word-break: break-word;
  margin-left: auto;
  max-width: 50%;
  text-align: right;
}
/*DESIGN*/
.message-user p{
  background-color:rgb(41, 165, 116);
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: rgb(237, 237, 237);
  text-shadow: 2px 2px 0px rgb(39, 39, 39);
}

.message-bot{
  border: 3px solid rgb(154, 154, 154);
  width: 100%;
}

.message-bot p{
  border: 2px solid rgb(0, 0, 0);
  word-break: break-word;
  width: 50%;
  text-align: left;
  margin-right:calc(21em + 8px);
}
/*DESIGN*/
.message-bot p{
  background-color:rgb(65, 115, 93);
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  color: white;
  text-shadow: 2px 2px 0px rgb(39, 39, 39);
}

footer{
  position: fixed;
  background-color: rgb(199, 199, 199);
  border-top: 2px solid rgb(171, 170, 170);
  box-shadow: 0px 0px 50px rgb(199, 199, 199);
  bottom:0px;
  display:flex;
  justify-content: center;
  padding:20px;
  width: auto;
  right:0;
  left: 190px;
  gap:10px;
}

#user-input{
  box-sizing: border-box;
  border-top: 4px solid rgb(63, 63, 63);
  border-left: 4px solid rgb(63, 63, 63);
  border-bottom: 2px solid rgb(63, 63, 63);
  border-right: 2px solid rgb(63, 63, 63);
  background-color: rgb(244, 244, 244);
  flex: 19;
  resize:none;
  font-size:16.5px;
  padding-top:17px;
  padding-left: 15px;
}

#send-question{
  padding: 3px 24px 4px 24px;
  border-top: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
  border-bottom: 3px solid darkslategray;
  border-right: 3px solid darkslategray;
  background-color: rgb(36, 120, 82);
  opacity: 1;
  color : white;
  font-weight: bold;
  font-size: 20px;
  cursor:pointer;
}

#send-question:hover{
  opacity: 0.9;
}

#send-question:active{
  background-color: rgb(38, 99, 72);
  border-bottom: 3px solid whitesmoke;
  border-right: 3px solid whitesmoke;
  border-top: 3px solid darkslategray;
  border-left: 3px solid darkslategray;
}