body{
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
}

.container{
  display: flex;
  flex-direction : column;
  align-items: center;
}

.header{
  position: fixed;
  font-size: 15px;
  font-weight : bold;
  display: flex;
  color: rgb(255, 231, 231);
  text-shadow: 2px 2px 1px rgb(162, 73, 28);
  background: rgb(227, 111, 53);
  width: 100vw;
  justify-content: center; 
  box-shadow: 0px 2px 20px rgb(142, 142, 142);
}

.chat-box{
  display: flex;
  flex-direction: column-reverse;
  width: 72vw;
  height: calc(100vh - 100px);
  overflow-y: auto;
  border-left: 2px solid rgb(111, 77, 40);
  border-right: 2px solid rgb(111, 77, 40);

}

.message-bot, .message-user{
  padding: 12px 16px;
  max-width:100%;
  color: white;

}
.message-bot{
  align-self: flex-start;
  border-radius: 20px 20px 20px 0px;
  background-color: rgb(56, 130, 22);
  margin-left: 12px;
}

.message-user{
  align-self: flex-end;
  border-radius: 20px 20px 0 20px;
  background-color:rgb(90, 169, 53);
  margin-right: 12px;
}

.question-box{
  position: fixed;
  display: flex;
  width: 70vw;
  flex: 1;
  justify-content: center;
  margin-bottom: 30px;
  gap:10px;
  bottom: 0;
}

#user-input{
  width:100%;
  font-size: 15px;
  justify-content: center;
  resize: none;
  border: none;
  border-radius: 15px 15px 15px 15px;
  padding-top:25px;
  padding-bottom: 25px;
  padding-left: 10px;
  line-height:1.5px;
  box-shadow: 0px 1px 10px rgba(114, 39, 39,0.2);

}

#send-question{
  width:9%;
  border:none;
  border-radius: 15px 15px 15px 15px;
  background-color: orange;
  color : white;
  font-weight: bold;
  font-size: 30px;
}



