body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 232, 232);
    margin: 0;
    padding: 0;
}

.chatbot-name {
    font-weight:800;
    font-size: 16px;
    color:white;
}

.header {
    display: flex;
    background-color: rgb(196, 110, 76);
    width: 100%;
    padding: 1px 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(165, 72, 37);
    align-items: center;
    justify-content: center;
    box-sizing : border-box;
}
.chat-box{
   display: flexbox;
}
.question-box {
    display: flex;
    gap: 10px;
    padding: 10px;

}
#user-input{
    flex: 1;
    resize:none;
    min-height: 20px;
    max-height: 80px;
    font-size:14px;
    border: none;

}