*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display:flex;
  flex-direction:row;
   min-width: 100vw;
  min-height: 100vh;
}

.sidebox{
  width: 190px;
  border: 2px solid rgb(227, 209, 185);
  background-color: rgb(236, 217, 189);
  margin-top: 45px;
  text-align: center;
  font-size: 20px;
  font-weight:bolder;
  color:rgb(45, 45, 45);
  line-height: 3;
}


.sec-container{
  flex: 1;
  background-color: antiquewhite;
  display: flex;
  flex-direction : column;
}
header{
  width:auto;
  left:0;
  right:0;
  height:45px;
  font-size: 18px;
  font-weight : bold;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 1px rgb(13, 100, 13);
}

header{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(42, 104, 42);
  box-shadow: 0px 2px 10px rgb(80, 80, 80);
  border-bottom: 1px solid;
  border-color: rgb(5, 72, 5);
}

section{
  overflow-y: auto;
  /*border: 2px solid;*/
  flex:8;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  margin-bottom: 98px;
}
.message-bot, .message-user{
  flex:1;
  font-size: 16.5px;
  padding: 12px 16px;
  color: white;
  box-shadow: 0px 1px 8px rgb(45, 45, 45);

}

.message-bot{
  margin-left:50px;
  margin-bottom:55px;
  align-self: flex-end;
  border-radius: 20px 20px 20px 0px;
  background-color: rgb(56, 130, 22);
}

.message-user{
  align-self:flex-end;
  border-radius: 20px 20px 0 20px;
  background-color:rgb(90, 169, 53);
  margin-right: 50px;
}

footer{
  position: fixed;
  background-color: antiquewhite;
  border-top: 2px solid rgb(227, 209, 185);
  box-shadow: 0px 0px 50px antiquewhite;
  bottom:0px;
  display:flex;
  justify-content: center;
  padding:20px;
  width: auto;
  right:0;
  left: 220px;
  gap:10px;
}

footer textarea{
  box-sizing: border-box;
  border:1px solid rgb(145, 145, 145);
  box-shadow: 0 1px 5px rgb(116, 116, 116);
  flex: 19;
  resize:none;
  font-size:16.5px;
  border-radius: 15px 15px 15px 15px;
  padding-top:17px;
  padding-left: 15px;
}

footer button{
  padding: 3px 24px 4px 24px;
  border:none;
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(70, 123, 68);
  opacity: 1;
  transition: 0.1s;
  color : white;
  font-weight: bold;
  font-size: 20px;
  cursor:pointer;
}

footer button:hover{
  opacity: 0.7;
}