*{
  font-family: 'W95FA', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display:flex;
  flex-direction:row;
   min-width: 100vw;
  min-height: 100vh;
}

.sidebox{
  width: 190px;
  border: 2px solid rgb(145, 145, 145);
  background-color: rgb(161, 161, 161);
  margin-top: 45px;
  text-align: center;
  font-size: 20px;
  font-weight:bolder;
  color:rgb(45, 45, 45);
  line-height: 3;
}


.sec-container{
  flex: 1;
  background-color: rgb(199, 199, 199);
  display: flex;
  flex-direction : column;
}
header{
  width:auto;
  left:0;
  right:0;
  height:45px;
  font-size: 18px;
  font-weight : bold;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 0px rgb(14, 75, 14);
  
}

header{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(59, 150, 109);
  box-shadow: 0px 2px 10px rgb(80, 80, 80);
  border-bottom: 1px solid;
  border-color: rgb(5, 72, 5);
  letter-spacing: 2px;
}

section{
  overflow-y: auto;
  /*border: 2px solid;*/
  flex:8;
  margin-top: 55px;
  display: flex;
  flex-direction: row;
  margin-bottom: 98px;
}
.message-bot, .message-user{
  flex:1;
  font-size: 16.5px;
  padding: 12px 16px;
  color: white;
  box-shadow: 0px 1px 8px rgb(45, 45, 45);
}
.message-bot{
  margin-left:50px;
  margin-bottom:55px;
  align-self: flex-end;
  border-radius: 20px 20px 20px 0px;
  background-color: rgb(36, 120, 82);
}

.message-user{
  align-self:flex-end;
  border-radius: 20px 20px 0 20px;
  background-color:rgb(54, 178, 122);
  margin-right: 50px;
  text-align:end
}

footer{
  position: fixed;
  background-color: rgb(199, 199, 199);
  border-top: 2px solid rgb(171, 170, 170);
  box-shadow: 0px 0px 50px rgb(199, 199, 199);
  bottom:0px;
  display:flex;
  justify-content: center;
  padding:20px;
  width: auto;
  right:0;
  left: 190px;
  gap:10px;
}

#user-input{
  box-sizing: border-box;
  border-top: 4px solid rgb(63, 63, 63);
  border-left: 4px solid rgb(63, 63, 63);
  border-bottom: 2px solid rgb(63, 63, 63);
  border-right: 2px solid rgb(63, 63, 63);
  background-color: rgb(244, 244, 244);
  flex: 19;
  resize:none;
  font-size:16.5px;
  padding-top:17px;
  padding-left: 15px;

}

#send-question{
  padding: 3px 24px 4px 24px;
  border-top: 3px solid whitesmoke;
  border-left: 3px solid whitesmoke;
  border-bottom: 3px solid darkslategray;
  border-right: 3px solid darkslategray;
  background-color: rgb(36, 120, 82);
  opacity: 1;
  color : white;
  font-weight: bold;
  font-size: 20px;
  cursor:pointer;
}

#send-question:hover{
  opacity: 0.9;
}

#send-question:active{
  background-color: rgb(38, 99, 72);
  border-bottom: 3px solid whitesmoke;
  border-right: 3px solid whitesmoke;
  border-top: 3px solid darkslategray;
  border-left: 3px solid darkslategray;
}