body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 232, 232);
    margin: 0;
    padding: 0;
}

.chatbot-name {
    font-weight:800;
    font-size: 16px;
    color:white;
}

.header {
    display: flex;
    background-color: rgb(196, 110, 76);
    width: 100%;
    padding: 1px 0;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: rgb(165, 72, 37);
    align-items: center;
    justify-content: center;
    box-sizing : border-box;
}

.chat-box{
   height: 540px;
   overflow-y: auto;
   padding: 15px 20px 70px;
}

.question-box {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.message-bot{
    background:rgb(146, 192, 146);
    padding: 12px 15px;
    max-width : 60%;
    display: inline-block;
    align-self: flex-start;
}

.message-user{
  background:rgb(146, 192, 100);
  padding : 12px 15px;
  max-width:60%;
  display: inline-block;
  align-self: flex-end;
}

#user-input{
    flex: 1;
    resize:none;
    min-height: 20px;
    max-height: 80px;
    font-size:14px;
    border: none;
}

